@import 'tailwindcss';

@theme {
	/* surface colors */
	--color-background: oklch(1 0 0);
	--color-foreground: oklch(0.0949 0.0117 108.44);

	/* brand colors */
	--color-primary: oklch(0.3731 0.1375 266.1);
	--color-accent: oklch(0.7747 0.1301 24.47);
}

body {
	@apply relative flex min-h-screen flex-col items-center justify-center bg-background text-foreground;
}

button {
	@apply cursor-pointer rounded bg-accent px-4 py-2 text-white transition-colors hover:bg-accent/80;
}
